$body-bg: #14192e;
$gray-800: #14192e;
$modal-content-color: #fff;
$modal-content-bg: $body-bg;
$modal-header-border-color: #707070;
$close-color: #fff;
$primary: #ea923e;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import '~bootstrap/scss/bootstrap.scss';

.modal-content {
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
	border: 0;
	border-radius: 20px;
}
